body{
  background: #1a1633;
  font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #f8f5ff;
}
h2{
  font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #ff5fcf;
}
.title-container{
background-image: url("/img/title/mob.png");  
background-repeat: no-repeat;
background-position: bottom center;
background-size: 335px 27px;
height: 78px;
margin-bottom: 24px;
}
@media only screen and (min-width: 1440px) {
.title-container{
background-image: url("/img/title/desk.png");  
background-size: 414px 34px;
height: 85px;
}  
}