.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
height: 800px;
}
.home-container{
    padding-top: 200px;
}
.home-logo{
 margin-left: auto;
 margin-right: auto;   
}
@media only screen and (min-width: 1440px) {
.home-section {
    background-image: url("/img/home/desk.png");
height: 823px;
}
.home-container {
    padding-top: 139px;
}   
}
/* About the Game */
.about-container{
    padding-top: 80px;
}
.about-img{
    display: none;
}
@media only screen and (min-width: 1440px) {
.about-container {
        padding-top: 150px;
    }
.about-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}
    .about-img {
        display: block;
    }
}
/* Features */
.features-container{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
}
.features-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.features-item{
border: 1px solid #59e7ff;
    border-radius: 0 40px;
    padding: 12px;
    width: 335px;
    height: 103px;
}
.features-item-title{
font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #ff5fcf;
    margin-bottom: 6px;
}
.features-item-right{
border-radius: 40px 0;
}
@media only screen and (min-width: 1440px) {
.features-container{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 150px;
}
.features-wrapper{
flex-direction: row;
justify-content: center;
gap: 20px;
}
.features-list{
gap: 24px;
}
.features-item{
width: 413px;
    height: 79px;
}  
.features-list-left{
    order: 1;
}
.features-img{
    order: 2;
}
.features-list-right{
    order: 3;
}
}
/* FAQ */
.faq-section{
    background-image: url("/img/faq/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 174px;
    height: 892px;
}
.faq-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.faq-item{
border-bottom: 2px solid #59e7ff;
    padding: 0 0 12px;
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.faq-item-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #f8f5ff;
    text-align: left;
}
.faq-item-text{
    text-align: left;
}
@media only screen and (min-width: 1440px) {
 .mob{
 display: none;
}
.faq-section {
    background-image: url("/img/faq/desk.png");
    background-size: cover;
height: 823px;
}
.faq-container{
    padding-top: 103px;
    padding-bottom: 103px;
}
.faq-list {
width: 630px;
margin-left: auto;
margin-right: auto;
}

.faq-item {
width: 630px;
height: 92px;
}
}
/* Contact */
.contact-container{
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact-link{
    display: inline-block;
    margin-top: 16px;
font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #59e7ff;
}
@media only screen and (min-width: 1440px) {
 .contact-container{
    padding-top: 150px;
    padding-bottom: 150px;
}   
}